#!/bin/bash
# based off the /etc/rc.d/git-daemon.  I need to add proper accreditation to this fact or find out if it was
# based off something else. -eb

# further modified for the fact its not actually a daemon, its more of a control system.

daemon_name=$(ec2-init)

. /etc/rc.conf
. /etc/rc.d/functions

case "$1" in
  start)

    /sbin/ec2-inject-keys
    stat_done # does this do the perty little done thing?
    ;;

  *)
    echo "usage: $0 {start}"
esac

exit 0
